PORT=2000
MONGODB_USER=volodimirverscov
MONGODB_PASSWORD=12345678
MONGODB_URL=cluster0.xpxkilq.mongodb.net
MONGODB_DB=students


SMTP_HOST = nbdsjbd.com
SMTP_PORT = 357
SMTP_USER = 3jsdhcfsd.com
SMTP_PASS = scfhiosncscn15sefcswfhiuwegbfiey7fgiuwbfjbwbfdkjqwbfkwbf
SMTP_FROM = admin@contacts.com

JWT_SECRET= fwkenfewnfgewjfwef

APP_DOMAIN = http://localhost:6000

CLOUD_NAME = svsvsdvsdv
API_KEY = sdsvsdgzeaerrrrr5464564565
API_SECRET = _1skdfncks762936432692009

ENABLE_CLOUDINARY = true

GOOGLE_AUTH_CLIENT_ID = grtjgerjgejrgejrgjegjegeg/.eegkerjgk
GOOGLE_AUTH_CLIENT_SECRET = GJNMAEIRGLERNGER_GNKELRNGE
